body {background-color: #C0C0C0;
      font-family: 'Georgia, Times New Roman, Times, serif';
      height:100%; margin:0;}

h1 {font-family: 'Georgia, Times, Times New Roman, serif';}

#picture {width:320px;
	      height:320px;
	      float:left;
	      margin:5px;
	      padding:5px;}

header {width:100%; 
		height:100px;
		background-color:#ffffff;
		margin:auto;
		overflow:hidden;
		border:solid #dddddd;}
		
.name-box {padding-top:40px;
		font-size:25px;
		text-align:center;
		width:150px; 
	    height:60px;
	    background-color:#4aaaa5;
		margin-left:150px;
		float:left;
		color:white;
		}

.nav-box {margin-top:40px;
		  margin-right:180px;
		  font-size:20px; 
		  width:300px;
		  height:40px;
		  float:right;
		  background-color:#ffffff;}

.nav-smallbox {display:inline-block;
			 margin-right:25px;
			 color:black;}


 .main {background-color: #C0C0C0;
 		width:960px;
 		height:650px;
 		position: relative;
 		margin: auto;}

 .aboutme   {width:468px;
 			 height:530px;
 			float:left;
 			padding:30px;
 			margin-top: 30px;
 			font-size:20px;
 			background-color: #ffffff;
 			line-height:1.2;
 		    overflow:auto;}

 .aside {width:215px;
 		height:145px;
 		float:left;
 		margin-left:100px;
 		margin-top: 30px;
 	    margin-bottom:30px;
 		background-color: #ffffff;
 	    font-size:25px;
 	    padding:40px;
 	    }
 
 #icon {width:60px;
 	   height:70px;
 	   display:inline-block;}

 footer {background-color: #666666;
	font-style: 'Arial';
	font-size:30px;
	text-align: center;
	padding-top: 40px;
	color: white;
	clear: both;
	overflow:auto;
	width: 100%;
	height: 50px;
	border-top:solid #4aaaa5;}

#business, #nature, #sports, #technic {display:inline-block;
										width:420px;
										height:300px;
										margin: 15px;
									    } 

.portfolio  {width:468px;
 			float:left;
 			padding-left:10px;
 			margin-top:30px;
 			margin-bottom:30px;
 			font-size:30px;
 			background-color: #ffffff;
 			}

.contact  {width:468px;
	       height:530px;
	       padding: 35px;
 		   float:left;
 		   margin-top:30px;
 		   font-size:20px;
 		   background-color: #ffffff;
 			}

/*media query*/
@media screen and (max-width: 980px) {
		body {width:100%;}
		header {width:100%;}
		#picture {width:100%;}
		.main {width:100%; 
		       margin-left:50px;}
		.name-box {margin-left:50px;}
		.aside {width:30%;}
		.nav-box {margin-right:0;}
		.aboutme {width:35%;
				  }
		footer {width:100%;
				position:relative;}
		#business, #nature, #sports, #technic {
				 width:90%; height: 200px;}
		.portfolio {width:40%;
				    }
		.contact {width:35%;}
		form, input {width:100%;}

		}

@media screen and (max-width:768px) {
			body {width:100%;}
			header {width:100%;}
			#picture {width:300px;
	 				  height:300px;
	 				  float:left;
	 				  margin:10px;}
			.name-box {margin-left:60px;}
			.main {width:100%;
				   padding-bottom:200px;}
			.aside {width: 77%; height:100px;
				    margin-left:0;
				    }
			.nav-box {margin-right:10px;}
			
			.aboutme {width:80%; 
				  	  height:470px;
				      margin-bottom:40px;}
			#business, #nature, #sports, #technic 
										{display:inline-block;
										width:40%;
										height:200px;
										margin-left: 30px;
										} 
			footer {width:100%;}
			.portfolio {width:86%; height:530px;
				   		margin-left: 0;
				   		padding:10px;
				   		}
			.contact {width:78%; height:400px;
				      margin-top:30px;
				      padding-bottom:150px;}
		form, input {width:100%;}
		}

@media screen and (max-width:640px) {
		body {width:100%;}
		header {width:100%; 
				position:static;
				height:100px;
				}
		.name-box {width:100%;
				   margin: 0 auto;
				   padding: 0;
				   float:none;}
		#picture {margin:0;
				  width:100%;}				
		.main {width:100%;
			   height:760px;
			   }
		.aside {width:72%;
		        }
		.nav-box {width:100%;
				 float:none;
				 margin:auto;
				 }
		.nav-smallbox {width:80px;
					margin-left:75px;
					}
		.aboutme {width:75%; height:580px;
				  }
		footer {width:100%;}
		#business, #nature, #sports, #technic {
				 width:80%; height:200px;
				 padding-left:15px;}
		.portfolio {width:82%; height:650px;
				    margin-left:0;
				    overflow:auto;}
		.contact {width: 75%; height:500px;
				 }
		form, input {width:100%;}
}